.footer ul {
	padding: 30px;
}

.footer ul li {
	list-style: none;
	opacity: 0.5;
}

.footer ul a,
.footer h1 a {
	text-decoration: none;
	color: white;
}

.footer h1 {
	color: white;
	text-align: center;
	padding-bottom: 30px;
	opacity: 0.5;
}

.footer h1:hover {
	opacity: 1;
}

@media (min-width: 758px) {
	.footer__links {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
}
